.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  background-color: $gradient--stop1;
  background-image: linear-gradient(
    90deg,
    $gradient--stop1 0%,
    $gradient--stop2 36%,
    $gradient--stop3 100%
  );
}
