.header {
  display: flex;
  height: 55vh;
  min-height: 375px;
  max-height: 450px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  @include mq() {
    height: 75vh;
    min-height: 400px;
    max-height: 500px;
  }
}

.heading {
  font-size: 32px;
  font-weight: 700;

  @include mq() {
    font-size: 62px;
  }
}

.subheading {
  font-size: 24px;
  font-weight: 400;

  @include mq() {
    font-size: 42px;
  }
}
