---
import '@src/styles/style.css';
import * as Classes from './styled';
---

<!DOCTYPE html>
<html lang='en-GB'>
  <head>
    <slot name='head' />
  </head>
  <body class:list={Classes.Body()}>
    <div class:list={Classes.Container()}>
      <slot />
    </div>
  </body>
</html>
