---
import '@src/styles/style.css';
import * as Classes from './styled';
import { Sprite } from 'astro-icon';
---

<!DOCTYPE html>
<html lang='en-GB'>
  <head>
    <slot name='head' />
  </head>
  <body class:list={Classes.Body()}>
    <div class:list={Classes.Container()}>
      <Sprite.Provider>
        <slot />
      </Sprite.Provider>
    </div>
  </body>
</html>
