---
import * as Classes from './styled';
import type { AstroBuiltinAttributes } from 'astro/dist/@types/astro.d';

export interface Props extends AstroBuiltinAttributes {
  hasTopPadding?: boolean;
}

const { 'class:list': classList, hasTopPadding = false, ...astroAttributes } = Astro.props;
---

<section class:list={[Classes.Section({ hasTopPadding }), classList]} {...astroAttributes}>
  <slot />
</section>
