---
import * as Classes from './styled';

export interface Props {
  class?: string;
  hasTopPadding?: boolean;
}

const { class: className, hasTopPadding = false } = Astro.props;
---

<section class:list={[Classes.Section({ hasTopPadding }), className]}>
  <slot />
</section>
